{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}   


 
{% block content %}






<section style=" margin-top:100px " class="about-main-container">


    <div class="about_banner_container">
    
        <div class="about_banner">
         <h1 class="text-center">The fun side flowers </h1>
         <p class=" h6 text-center">Welcome to Proflower! Come in it's so good to see you Let us take coat, tick your shoes off wherever and let's have same fun! </p>
        </div>
     
     
      
     
     
     </div>
     
     
     
     <div class="d-flex  align-items-center row">
     
         <div class="col-md-6 col-sm-12 about_parent1">
             <div   class="    about_chaild">
                 <p class=" h5 text-center">For the last-minute gifter, the craft life-hacker, or the person likes to surprise the ones they love. Proflowers has you covered with thoughful girts, lush plants and bold blooms. </p>
                 <p class="mt-4 h5 text-center">
                     We take the guesswork out of girting with top-notch taste, fresh designs, and curated gift collecions made with every occasion in mind.
                 </p>
             </div>
         </div>
         <div class="  col-md-6 col-sm-12 about_parent2">
              <img class="img-fluid"  src="{% static 'image/galary2.png' %}" alt="">
             
         </div>
     
     </div>
             
    
    
    </section>



{% endblock %}