{% extends 'base.html' %}
{% load static %}

 
 

{% block content%}



{% comment %} ---------------------  bannger slider ----------------- {% endcomment %}
 
 
<div class="swiffy-slider slider-nav-round slider-nav-animation slider-nav-animation-fadein slider-item-first-visible">
  <ul class="slider-container">
      <li class="slide-visible">
          <div class="card rounded-0 h-100">
              <div class="row g-0 h-100">
                  <div class="col-md-6 col-xl-5 d-flex align-items-center p-2 p-md-3 p-xl-5">
                      <div class="card-body p-1 p-md-3 p-xl-5">
                          <p class="lead">Flarisia Deliaery</p>
                          <h2 class="card-title" style="color:#DF1E1E;">FLOWER IS A SOUL</h2>
                          <p class="card-text mt-3">just as a flower which seems beautitful and has color but no prefume. so are the fruitless words of the man who speaks them but does them   not </p>
                           
                      </div>
                  </div>
                  <div class="col-md-6 col-xl-7">
                      <img src="{% static 'image/bannerimg1.jpg' %}" class="card-img d-none d-md-block" loading="lazy" style="height: 100%; object-fit: cover;" alt="...">
                      <img src="../assets/img/photos/img1.webp" class="card-img d-block d-md-none" loading="lazy" style="width: 100%; object-fit: cover;" alt="...">
                  </div>
              </div>
          </div>
      </li>
      <li class="">
          <div class="card rounded-0 h-100">
              <div class="row g-0 h-100">
                  <div class="col-md-6 col-xl-7">
                      <img src="{% static 'image/rsz_bannerimg2.jpg' %}" class="card-img d-none d-md-block" loading="lazy" style="height: 100%; object-fit: cover" alt="...">
                       
                  </div>
                  <div class="col-md-6 col-xl-5 d-flex align-items-center p-2 p-md-3 p-xl-5">
                      <div class="card-body p-1 p-md-3 p-xl-5">
                          <p class="lead">Flarisia Deliaery</p>
                          <h2 class="card-title" style="color:#DF1E1E;">QUALITY FLOWERS</h2>
                          <p class="card-text mt-3">No Better way is there to larn to love Nature then to understand Art. It diginifies every flower to the field. And the boy  who sees the thing of beauty which a bird on the wing becomes when transfered to wood or canvas will probably not throw the Customary store </p>
                      </div>
                  </div>
              </div>
          </div>
      </li>
      <li class="">
          <div class="card rounded-0 h-100 text-white">
              <img src="{% static 'image/bangerimge3.jpg' %}" class="card-img h-100" style="max-height: 100%; max-width: 100%; object-fit: cover" alt="...">
              <div class="card-img-overlay d-flex align-items-start align-items-md-center justify-content-center flex-column">
                  <h2 class="card-title h1 d-block d-md-inline-block">The Aston Martin DB5</h2>
                  <p class="card-text lead col-md-8 col-lg-6">The Aston Martin DB5 is a British luxury grand tourer (GT) that was made by Aston Martin and designed by the Italian coachbuilder Carrozzeria Touring Superleggera. </p>
              </div>
          </div>
      </li>
  </ul>

  <button type="button" class="slider-nav" aria-label="Go left"></button>
  <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

  <div class="slider-indicators">
      <button class="active" aria-label="Go to slide"></button>
      <button aria-label="Go to slide" class=""></button>
      <button aria-label="Go to slide" class=""></button>
  </div>
</div>


 
 
 








<div   class="row bs mt-5">












 
 

 <div class="container card-container py-5">
  <div class=" col-2 dropdown">
    <button class="btn  category_btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Flower Category
    </button>
    <ul class="dropdown-menu manu_item">
      {% for cat in category %}
      <li><a class="dropdown-item" href="{% url 'category_wise_post' cat.slug %}">{{cat.name}}</a></li>
       
      {% endfor %}
    </ul>
  </div>
   
  <div class="row row-cols-1 row-cols-md-3 g-4 py-5">



    {% for flower in flowers %}
      <div class="col">
          <div class="card">
              <img src="{{flower.image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">{{flower.title}}</h5>
                  <p class="card-text"> {{flower.description}}</p>
                  <p class="card-text"> Quantiry : {{flower.quantity}}</p>
              </div>
              <div class="mb-5 d-flex justify-content-around">
                  <h3>{{flower.price}}$</h3>
                  
                  <button class="btn btn-primary"><a href="{% url 'place_order'  flower_id=flower.id  %}"  class="btn " >Buy Now</a></button>
              </div>
          </div>
      </div>
      {% endfor  %}
      

       
 

       

  </div>
</div>





</div>



{% comment %} -------------------------- slider ------------------------ {% endcomment %}

<div class="heading">
    <h1>About Us</h1>
    <p> </p>
</div>

<div class="container">
    <section class="about">
        <div class="about-image">
            <img src="{% static 'image/aboutimg1.jpeg' %}" alt="">
        </div>

        <div class="about-content">
            <p>  Happy Flower Co Delivery is the premier floral delivery and gifting service in Bangladesh. Sending flowers is a delightful way to express your love, affection, gratitude and so many other sentiments that matter. Flowers make us feel more compassionate towards others and let us feel happier. For your far­away friends and family, a flower delivery is a sublimely sweet gesture, a way to share beauty across distance.</p>
            <a href="" class="read-more">Read More</a>
        </div>
    </section>
</div>




<footer>
  
  <div class="footer-col mx-5">
      <h4>Occasions</h4>
      <ul>
          <li><a href="#">Dried Flowers and Gifts</a></li>
          <li><a href="#">Mother's Day Flowers</a></li>
          <li><a href="#">Mothers day Gift Box</a></li>
          <li><a href="#">Valentine's Day Flowers</a></li>
          <li><a href="#">Christmas Flowers</a></li>
      </ul>
  </div>
  <div class="footer-col mx-5">
      <h4>company</h4>
      <ul>
          <li><a href="#">Email: parvezahmed9432@gmail.com</a></li>
           
          <li><a href=" ">contact us : 01759454963</a></li>
      </ul>
  </div>
  <div class="footer-col mx-4 ">
      <h4>follow us</h4>
      <div class="links">
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
  </div>
</footer>

{% endblock %}