{% extends 'base.html' %}
{% load static %}

 
 

{% block content%}



{% comment %} ---------------------  bannger slider ----------------- {% endcomment %}
 
 


<section class=" ">



    
  <div class="swiffy-slider  slider-nav-round slider-nav-animation slider-nav-animation-fadein slider-item-first-visible">
      <ul class="slider-container">
          
          <li class="">
              <div class="card rounded-0 h-100 text-white">
                  <img src="{% static 'image/resize-17097969471064082711imageb1.jpg' %}" class="card-img h-100" style="max-height: 100%; max-width: 100%; object-fit: cover" alt="...">
                  <div class="card-img-overlay d-flex align-items-start align-items-md-center justify-content-center flex-column">
                      <h2 class="card-title h1 d-block d-md-inline-block text-center">Expertly Designed Flower Bouquets Fresh <br> from Our Fields </h2>
                      <p class="card-text lead col-md-8 col-lg-6">  </p>
                  </div>
              </div>
          </li>
  
  
          <li class="">
              <div class="card rounded-0 h-100 text-white">
                  <img src="{% static 'image/resize-17097977781145596161imageb2.jpg' %}" class="card-img h-100" style="max-height: 100%; max-width: 100%; object-fit: cover" alt="...">
                  <div class="card-img-overlay d-flex align-items-start align-items-md-center justify-content-center flex-column">
                      <h2 class="card-title h1 d-block d-md-inline-block">The Aston Martin DB5</h2>
                      <p class="card-text lead col-md-8 col-lg-6">The Aston Martin DB5 is a British luxury grand tourer (GT) that was made by Aston Martin and designed by the Italian coachbuilder Carrozzeria Touring Superleggera. </p>
                  </div>
              </div>
          </li>
      </ul>
    
      <button type="button" class="slider-nav" aria-label="Go left"></button>
      <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
    
      <div class="slider-indicators">
          <button class="active" aria-label="Go to slide"></button>
          <button aria-label="Go to slide" class=""></button>
          {% comment %} <button aria-label="Go to slide" class=""></button> {% endcomment %}
      </div>
    </div>
    
    
     
     
  
  </section>

<main class="home_mane">





 
    
    
     
    
    
    
    
    
    
    
    
    <div   class="row bs mt-5">
    
    
    
    
    
    
    
    
    
    
    
    
     
     
    
     <div class="container   drop-card  card-container py-5">
      <div class="  col-2 dropdown">
        <button  style="background-color: antiquewhite;" class=" btn_color  btn  category_btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
           Category
        </button>
        <ul class="dropdown-menu manu_item">
    
          <li><a class="dropdown-item" href="{% url 'homepage' %}"> All </a></li>
    
          {% for cat in category %}
          <li><a class="dropdown-item" href="{% url 'category_wise_post' cat.slug %}">{{cat.name}}</a></li>
           
          {% endfor %}
        </ul>
      </div>
       
      <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
    
    
    
        {% for flower in flowers %}
          <div  class="col">
              <div class="card">
                  
                  <img  class="img_card"   class="" src="{{flower.image.url}}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">{{flower.title}}</h5>
                      <p class="card-text">  {{ flower.description|truncatewords:12 }} <a href="{% url 'details'  id=flower.id %}">details</a></p>
                      <p class="card-text"> <span class="h5">Quantiry</span> : {{flower.quantity}}</p>
                  </div>
                  <div class="mb-5 d-flex justify-content-around">
                      <h3>{{flower.price}}$</h3>
                      
                      <button class="btn btn-primary"><a href="{% url 'place_order'  flower_id=flower.id  %}"  class="btn " >Buy Now</a></button>
                  </div>
              </div>
          </div>
          {% endfor  %}
          
    
           
     
    
           
    
      </div>
    </div>
    
    
    
    
    
    </div>
    
    
    
    {% comment %} -------------------------- banner ------------------------ {% endcomment %}
     
    
  
    
    
    
    
    
    
    
    
    
    
    



</main>


  
<section class="bottom_baner_container">
    
    
  <div class="row  ">

    <div class="col-md-6   col-sm-12   booton_banner_child1">


        <div class="bottom_child1">


          
      <h4>With Sympathy</h4>

      <p>Send comfort with a thoughtful arrangement.</p>

      <button class="btn ">
       <a class="btn  btn-dark" href="{% url 'homepage' %}"> Get Started</a>
      </button>

        </div>

    </div> 
    <div class="col-md-6 col-sm-12">

      <img class="img-fluid w-50  rounded mx-auto d-block" src="{% static 'image/bottom_banner1-removebg-preview.png' %}" alt="">
    </div>


  </div>




  

 </section>




 {% endblock %}